@import "../../styles/base";

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  h2 {
    @include title;
  }
  .registerCard {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 50px 20px;
    box-shadow: 4px 4px 20px 0px #00000040;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 20px;
    width: 450px;
  }

  .btns {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    .btn {
      @include primary;
    }
  }
}
